.header-content {
    min-height: 55vh;
    background-color: #2d3e48; 
    flex-direction: column;
}

.header-title {
    font-size: 4.2rem;
}

.header-text {
    background-color: rgba(216, 244, 225, 0.4);
    border-radius: 20px;
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    color: #FFFFE0;
    max-width: 770px;
    
}

